      <!--CONTENIDO DE CADA PAGINA     CONTENIDO DE CADA PAGINA    CONTENIDO DE CADA PAGINA -->
        
        <div class="container">
            <div class="main-body">
                <br><br>
                  <div class="row gutters-sm">

                    <!--        NAME        -->
                    <div class="col-md-12 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://placekitten.com/200/200" alt="Avatar" class="rounded-circle" width="150">
                            <div class="mt-3">
                              <h4>Fernando</h4>
                              <p class="text-secondary mb-1">fernandof</p>
                              <p class="text-muted font-size-sm">correomuylargodeprueba@gmail.com</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--        NAME        -->

                    <!--        DESIRED/ACTUAL        -->
                    <div class="row gutters-sm">
                        <div class="col-sm-2 mb-2">
                          <div class="card h-100">
                            <div class="card-body">
                              <h6 class="d-flex align-items-center mb-3">Desired</h6>
                              <table class="table table-hover">
                                <thead>
                                  <tr>  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Ejemplo</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <!--actual-->
                        <div class="col-sm-2 mb-2">
                          <div class="card h-100">
                            <div class="card-body">
                              <h6 class="d-flex align-items-center mb-3">Actual</h6>
                              <table class="table table-hover">
                                <thead>
                                  <tr>  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Ejemplo
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-dark" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <br>
                              <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                  Dropdown button
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                  <li><a class="dropdown-item active" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                                </ul>
                              </div>

                              <br>

                              <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="0 to 100" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-dark" type="button" id="button-addon2">Input</button>
                              </div>
                            </div>
                          </div>
                          
                        </div>

                        <!--        DESIRED/ACTUAL        -->


                        <!---           CHAT                -->
                        <div class="col-md-8">
                            <div class="inbox_msg">
                            <div class="mesgs">
                              <div class="msg_history">
                              <div class="incoming_msg">
                                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="received_msg">
                                <div class="received_withd_msg">
                                  <p>Test which is a new approach to have all
                                  solutions</p>
                                  <span class="time_date"> 11:01 AM    |    June 9</span></div>
                                </div>
                              </div>
                              <div class="outgoing_msg">
                                <div class="sent_msg">
                                <p>Test which is a new approach to have all
                                  solutions</p>
                                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                              </div>
                              <div class="incoming_msg">
                                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="received_msg">
                                <div class="received_withd_msg">
                                  <p>Test, which is a new approach to have</p>
                                  <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                                </div>
                              </div>
                              <div class="outgoing_msg">
                                <div class="sent_msg">
                                <p>Apollo University, Delhi, India Test</p>
                                <span class="time_date"> 11:01 AM    |    Today</span> </div>
                              </div>
                              <div class="incoming_msg">
                                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="received_msg">
                                <div class="received_withd_msg">
                                  <p>We work directly with our designers and suppliers,
                                  and sell direct to you, which means quality, exclusive
                                  products, at a price anyone can afford.</p>
                                  <span class="time_date"> 11:01 AM    |    Today</span></div>
                                </div>
                              </div>
                              </div>
                              <div class="type_msg">
                              <div class="input_msg_write">
                                <input type="text" class="write_msg" placeholder="Type a message" />
                                <button class="msg_send_btn" type="button">Send</button>
                              </div>
                              </div>
                            </div>
                            </div>
                                
                          </div>
                          <!---           CHAT                -->
                      </div>
                  </div>
                </div>
            </div>
    <!--CONTENIDO DE CADA PAGINA     CONTENIDO DE CADA PAGINA    CONTENIDO DE CADA PAGINA -->