        <div
          class="text-center bg-image"
          style="
            background-image: url('assets/fondo_index.jpg');
            height: 400px;">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">NA ELOBOOST</h1><!--<a class="btn btn-dark btn-lg" href="/users/" role="button">BOOSTING</a>-->
              </div>
            </div>
        </div>
        <!-- Background image -->
      </header>

      

      <!--Container-->
      <div class="card-container mt-5">
        <div class="card mb-3" style="max-width: 80%;">
            <div class="row g-0">
            <div class="col-md-8">
                <h5 class="card-title">NA ELOBOOST SERVICE</h5>
                <h4 align="center" class="card-subtitle">Guaranteed service | VPN included | Offline mode | Fast service</h4>
                <h4 class="card-subtitle">Start your order.</h4>
                <p class="card-text">Customize your order with the best prices and guaranteed service brought by<br>
                    experienced boosters. You can also choose solo or duo boost, summoners position<br>
                    and champions.</p>
                <h4 class="card-subtitle">Wait for completion.</h4>
                <p class="card-text2">During completion time you will be able to chat with the booster, you can tip or contact<br>
                    with customer service to complain about the service and change your booster.</p>
            </div>
            <div class="col-md-4" style="text-align:center">
                <div class="card-body">
                <a href="https://discord.gg/wXEGGhDs94"><img src="assets/Discord-Logo.png" class="img-fluid rounded-start" alt=""></a><br>
                  <h5 class="image-title text-center">Get in contact.</h5>
                </div>
            </div>
            </div>
        </div>
    </div>