<div class="container">
    <form action="/users/cot" method="POST">
        <div class="mb-3 mt-3">
            Rango Actual
            <input type="text" class="form-control" name="actual">
        </div>
        <div class="mb-3">
            Rango Deseado
            <input type="text" class="form-control" name="desired">
        </div>
        <div class="mb-3">
            Lp Actuales
            <input type="text" class="form-control" name="lpactual">
        </div>
        <div class="mb-3">
            Servidor
            <input type="text" class="form-control" name="server">
        </div>
        <div class="mb-3">
            Modalidad
            <input type="text" class="form-control" name="modality">
        </div>
        <div class="mb-3">
            Rol
            <input type="text" class="form-control" name="rol">
        </div>
        <div class="mb-3">
            Campeones
            <input type="text" class="form-control" name="champs">
        </div>
        <div class="mb-3">
            DuoQ
            <input type="text" class="form-control" name="DuoQ">
        </div>
        
        <div class="mb-3">
            <button type="submit">Enter</button>
        </div>
    </form>
</div>